
  <nav>
    <div class="nav-wrapper cyan darken-3">
      <a href="#" class="brand-logo right">Robot World</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href='/robots'>Robots</a></li>
        <li><a href='/robots/new'>New Robot</a></li>
        <li><a href='/'>Home</a></li>
      </ul>
    </div>
  </nav>
