<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href = "/css/materialize.min.css"
    <link rel="stylesheet" href="/css/style.css">
    <title>Robot World</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
